/* about-me.css : Kyle Laviana Online Portfolio */

body {
    margin: 0;
    font-family: 'Jaldi', Verdana, sans-serif;
    font-size: 20px;
    line-height: 1.6;
}

#homeButton {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 3px 3px;
    background-color: white;
    color:#A0C6EA;
    font-family: 'Raleway';
    outline: none;
}

#homeButton:hover {
    background-color: #A0C6EA;
    color: white;
}

#photo {
    position: fixed;
    height: 100%;
    width: 50%;
    left: 0%;
    overflow: hidden;
}

#banana {
    position: relative;
    height: 100%;
    float: right;
    right: calc(-350px + 10vw);
}

p {
    margin-bottom: .8em;
}

#description {
    float: right;
    width: 50%;
}

#title {
    font-weight: bold; 
    font-size: 3.2vw;
    margin: 0px 75px 0px 75px;
}

#text {
    color: grey; 
    font-size: calc(5.5px + .65vw);
    margin: 0px 75px 0px 75px;
}

.bottomText {
    position: fixed;
    left: 1%;
    bottom: var(--bottomTextOffset);
    font-size: 14px; 
    font-weight: bold;
    color: white;
    opacity: 1;
    z-index: 1;
}

#heart { color: red; }
#coffee { color: saddlebrown; }
#code { color: black; }

a:link {color: black;} a:visited {color: black;}