/* about-me-mobile.css : Kyle Laviana Online Portfolio */

html {
    overflow-y: scroll;
}

body {
    margin: 0;
    font-family: 'Lato', Verdana, sans-serif;
    line-height: 1.6;
}

#homeButton {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 3px 3px;
    background-color: white;
    color:#A0C6EA;
    font-family: 'Raleway';
    outline: none;
}

#homeButton:hover {
    background-color: #A0C6EA;
    color: white;
}

#photo {
    position: relative;
    height: 240px;
    width: 100%;
}

#banana {
    width: 100%;
}

#description {
    position: relative;
}

#title {
    font-weight: bold; 
    font-size: 3.9vw;
    margin: 0px 50px 25px 50px;
}

#text {
    color: grey; 
    font-size: calc(6px + .75vw);
    margin: 0px 50px 0px 50px;
}

.bottomText {
    bottom: var(--bottomTextOffset);
    font-size: calc(4px + .7vw);
}

#citation {
    position: relative;
    text-align: right;
    padding-top: 20px;
    padding-bottom: 30px;
}

#heart { color: red; }
#coffee { color: saddlebrown; }
#code { color: black; }

a:link {color: black;} a:visited {color: black;}